@charset "ISO-8859-1";

.placement {
	margin-top: 20vh;
	align-content: center;
	}
.placement-login {
	margin-top: 15mm;
	align-content: center;
}
.placement-register {
	margin-top: 10mm;
	
}

.container-login {
	height: 100vh;
	align-items: center;
	text-align: center;
	color: black;
}

.custsignin {
padding-left: 10in;
}

.btn-quan {
	width: 50px;
	border-radius: 3mm;
	border-color: #dee2e6;
}

.item-of-cart {
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e9ecef;
    background-color: rgb(237, 237, 237);
    border-radius: 5mm;
    border-color: rgb(184, 184, 184);
    height: 2cm;
}

.custrow {
	width: 50cm;
}

.carttitle {
	padding-left: 1cm;
}

.col-lg-8 {
	width: 55%;
}

.cust-cont {
	width: 100vw;
}

.checkout {
	height: 50px;
  background: #0d6efd;
  color: white;
  width: 100%;
  font-size: 14px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

.cmt-7 {
	padding-top: 1in;
}

.cpr-7 {
	padding-right: 5px;
}

.display-7 {
	font-size: large;
	line-height: 1.2;
}
.display-8 {
	font-size: medium;
	line-height: 1;
	font-weight: 100;
}

.pl-4 {
	padding-left: 1.5rem;
}

.mr-4 {
	margin-right: 3rem;
}

.mr-5 {
	margin-right: 1.2rem;
}

.pl-6 {
	padding-left: 25rem;
}

.welcomeimg {
	height: 360px;
}

.pl-5 {
	padding-left: 15rem;
}

.pr-5 {
	padding-right: 15rem;
}

.bg-feedback {
	background-color:#62b5e859;
}